@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,900&display=swap');

:root {
    --mainWhite: #fff;
    --mainBlack: #333333;
    --mainRed: #E00E4D;
    --mainOrange: #FF8000;

    --border-radius: 4px;
    --card-radius: 6px
    --transition: all .4s ease-in-out;
}


/* General setup */
body {
    font-family: 'Montserrat', sans-serif;
    background: var(--mainWhite);
    margin: 0;
    padding: 0;
}

.hero-title {
    font-size: 1.8rem;
    font-weight: 900;
}

.hero-subtitle {
    font-size: 1.5rem;
    font-weight: 600;
}

.hero-info {
    font-size: 1.1rem;
    letter-spacing: .1rem;
}















/* navigation */
.navbar-toggler:focus {
    outline: none;
}

.navbar-item {
    text-decoration: none;
    
}

.nav-link {
    color: var(--mainBlack);
    margin-right: 2rem;
    padding: .7rem 0;
    font-weight: 600;
    font-size: 1.2rem;
    text-align: center;
    transition: var(--transition);
}

.nav-link:hover {
    color: var(--mainOrange);
}