@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,900&display=swap');

:root {
    --mainWhite: #fff;
    --mainBlack: #333333;
    --transparentBlack: rgba(51, 51, 51, .4);
    --lightGray: #EFEFEF;
    --mainRed: #E00E4D;
    --transparentRed: rgba(224, 14, 77, .6);
    --mainOrange: #FF8000;
    --lightOrange: #ffc994;
    --transOrange: rgba(255, 128, 0, .1);
    --border-radius: 8px;
    --card-radius: 6px;
    --mainTransition: all .4s ease-in-out;
    --boxShadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    --bottomShadow: 0px 8px 6px -6px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}


/* General setup */
body {
    font-family: 'Montserrat', sans-serif;
    background: var(--mainWhite);
    margin: 0;
    padding: 0;
}

.hero-title {
    font-size: 1.8rem;
    font-weight: 900;
}

.hero-subtitle {
    font-size: 1.5rem;
    font-weight: 600;
}

.hero-info {
    font-size: 1.1rem;
    letter-spacing: .1rem;
}

.main-btn {
    background: var(--mainRed);
    color: var(--mainWhite);
    text-transform: uppercase;
    padding: .7rem 2rem;
    border-radius: var(--border-radius);
    font-size: 1rem;
    font-weight: 600;
    border: none;
    cursor: pointer;
    transition: var(--mainTransition);
}

.main-btn:hover {
    background: var(--mainOrange);

}

.cta-btn {
    background: var(--mainRed);
    color: var(--mainWhite);
    border-radius: var(--border-radius);
    padding: 1rem 2rem;
    font-size: 1rem;
    text-transform: capitalize;
    box-shadow: var(--boxShadow);
    font-weight: 600;
    border: none;
    cursor: pointer;
    transition: var(--mainTransition);
}

.cta-btn:hover {
    background: var(--mainOrange);
       
}

.footer-btn {
    background: var(--mainOrange);
    color: var(--mainWhite);
    border-radius: var(--border-radius);
    padding: .6rem 1.6rem;
    font-size: .8rem;
    text-transform: capitalize;
    box-shadow: var(--boxShadow);
    font-weight: 600;
    border: none;
    cursor: pointer;
}

.nav-btn {
    width: 20%;
    background: var(--mainRed);
    color: var(--mainWhite);
    min-width: 18%;
    padding: .9rem;
    font-size: .55rem;
    font-weight: 600;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: var(--mainTransition);
}
.nav-btn:hover {
    background: var(--mainOrange);
    
}

.active {
    background: var(--mainOrange);
}

/* navigation */
.navbar-toggler:focus {
    outline: none;
}

.navbar-item {
    text-decoration: none;    
}

.nav-link {
    color: var(--mainBlack);
    margin-right: 2rem;
    padding: .7rem 0;
    font-weight: 600;
    font-size: 1rem;
    text-align: center;
    transition: var(--mainTransition);
}

.nav-link:hover {
    color: var(--mainOrange);
}

/* kupi online section */
.buy-online {
    background: var(--lightGray);
}

.dropdown-btn {
    width: 70%;
    background: var(--lightGray);
    box-shadow: none;
    border: 1px solid var(--mainOrange);
    border-radius: var(--border-radius);
    padding: .6rem 3rem;
}

.dropdown-menu {   
    position: absolute;
    will-change: transform;
    top: 22px !important;
    left: -20% !important;
    transform: translate3d(121px, 31px, 0px);
}

.dropdown-btn a {
    color: var(--mainBlack);
    font-weight: 600;
    font-size: .8rem;
    text-decoration: none;
    transition: var(--mainTransition);
}

.dropdown-btn a:hover {
    background: var(--transOrange);
    border-radius: var(--border-radius);
}


.menu-dropdown {
    border: none;
    border-radius: var(--border-radius);
    -webkit-box-shadow: var(--boxShadow);
    -moz-box-shadow: var(--boxShadow);
    box-shadow: var(--boxShadow);
}

.menu-dropdown > a {
    font-size: .7rem;
}

.info-icon {
    color: var(--mainBlack);
    font-size: 1.3rem;
    cursor: pointer;
    transition: var(--mainTransition);
}

.info-icon:hover {
    color: var(--mainRed);
}

.price-info {
    font-size: 1.8rem;
    font-weight: 600;
    color: var(--mainOrange);
}

.line {
    position: relative;
}

.line:after {
    content: '';
    display: block;
    position: absolute;
    width: 5rem;
    height: .15rem;
    top: .8rem;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--mainBlack);
}

.na-rate {
    display: none;
}

/* on / off switch */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}
 
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: var(--mainOrange);
}

input:focus + .slider {
    box-shadow: 0 0 1px var(--mainOrange);
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/* chars section  */
.card {
    border: none;
    border-radius: var(--card-radius);
    box-shadow: var(--boxShadow);
}

.card-title {
    font-size: 1.3rem;
    text-transform: uppercase;
    font-weight: 600;
    color: var(--mainOrange);
}

.card-line:after {
    content: '';
    display: block;
    width: 3rem;
    height: .18rem;
    background: var(--mainBlack);
    margin-bottom: 1rem;
}

.center-card-line {
    position: relative;
}
.center-card-line:after {
    content: '';
    display: block;
    position: absolute;
    width: 3rem;
    height: .18rem;
    top: .1rem;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--mainBlack);
}

.card-subtitle {
    font-weight: 600;
}

/* video section  */
.video-section {
    background: var(--mainOrange);
    color: var(--mainWhite);
    padding: 5rem;
}

.video-section-title {
    color: var(--mainWhite);
    font-weight: 900;
}

.video-section-info {
    color: var(--mainWhite);
    line-height: 2;
}

.link {
    color: var(--mainRed);
    text-decoration: none !important;
    font-weight: 600;
    transition: var(--mainTransition);
}

.link:hover {
    color: var(--mainWhite);
}


.cta-section {
    background: linear-gradient(rgba(255, 255, 255, .7), rgba(255, 255, 255, .7)), url('../img/gears.jpg') center / cover no-repeat;
    min-height: 25rem;
    position: relative;
}

/* cta section */
.cta {
    background: linear-gradient(rgba(255, 255, 255, .7), rgba(255, 255, 255, .7)), url('../img/gears.jpg') center / cover no-repeat;
    min-height: 25rem;
    position: relative;
}

.center-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* footer */
.footer {
    background: var(--mainRed);
    color: var(--mainWhite);
}

.footer-apple-btn {
    border: none;
    border-radius: var(--border-radius);
    background: var(--mainWhite);
    color: var(--mainRed);
    padding: .5rem 2rem;
    text-decoration: none !important;
    transition: var(--mainTransition);
}

.footer-btn-text {
    font-size: .5rem;
}

.footer-btn-text-lg {
    font-size: .85rem;
}

.footer-apple-btn:hover {
    color: var(--mainRed);
}

.newsleter {
    border-left: 1px solid var(--mainWhite);
    height: 25vh;
    top: 1.5rem;
    margin-bottom: 3rem;
}

.top-footer {
    -webkit-box-shadow: 0 8px 6px -6px var(--transparentBlack);
	   -moz-box-shadow: 0 8px 6px -6px var(--transparentBlack);
	        box-shadow: 0 8px 6px -6px var(--transparentBlack);
}

.bottom-footer-link {
    color: var(--mainWhite);
    text-decoration: none !important;
    border-right: 2px solid var(--mainWhite);
    padding-right: 1.2rem;
    transition: var(--mainTransition);
}

.bottom-footer p {
    font-size: .65rem;
}

.bottom-footer-link:hover {
    color: var(--mainOrange);
}

.no-border {
    border: none;
}


















@media screen and (min-width: 768px) {

    .btn-img {
        margin-bottom: 1rem;
    }

    .nav-btn {
        font-size: 1rem !important;
    }

    .dropdown-btn a {
        font-size: .95rem;
    }

}

@media screen and (min-width: 576px) {

    .nav-btn {
        font-size: .7rem;
    }
}

